topics:
  topic1:
    filters:
      - key: "event"
        value: "error"
        format: "Error occurred: {{error}}"
      - key: "event"
        value: "warning"
        discard: true
    format: "{{raw_message}}"

  topic2:
    filters:
      - and:
        - key: "event"
          value: "error"
        - key: "priority"
          value: "high"
          format: "**High priority error**: {{error}}"
          title: "High Priority Error"
      - and:
        - key: "event"
          value: "error"
        - key: "priority"
          value: "low"
          format: "Low priority error: \n{{error}}"
      - and:
        - key: "event"
          value: "error"
        - key_not_defined: "user"
          format: "Error occurred with no user defined: {{error}}"
      - or:
        - key "event"
          value: "log"
          format: "LOG: {{message}}"    
    format: "{{raw_message}}"

  topic3:
    filters:
      - key: "priority"
        value: "high"
        format: "High priority alert: {{message}}"
    format: "{{raw_message}}"
